<configuration>
  <connectionStrings>
    <!--Define database server connection strings here.-->
  </connectionStrings>
  <!--Define service behaviors and service endpoints here.-->
  <system.serviceModel>
    <services>
      <service name="Safari.Services.EspecieService" behaviorConfiguration="DefaultServiceBehavior">
        <endpoint name="basicHttpEspecieService" address="" binding="basicHttpBinding" contract="Safari.Services.Contracts.IEspecieService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/EspecieService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions></behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <!--<system.diagnostics>
	  <trace autoflush="true" />
		<sources>
		  <source name="System.ServiceModel"
				  switchValue="Error, Warning"
				  propagateActivity="true">
			<listeners>
			  <add name="sdt"
				   type="System.Diagnostics.XmlWriterTraceListener"
				   initializeData= "$safeprojectname$.svclog" />
			</listeners>
		  </source>
		</sources>
	</system.diagnostics>-->
</configuration>
